.contentPage {
  position: relative;
  top: 10px;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-style: italic;
  border:1px solid #FFFFFF;
}

.containerPage {
  position: relative;
  width: 1200px;
  margin: auto;
  height: auto;


}
