$primary-color:#F9E79F;
$secondary-color:#CCD1D1;
$font-primary:#FFFFFF;
$font-secondary:#EBDEF0;
$bac-color:#F5EEF8;
$secondary-color:#1a242f;
$primary-color:#0f171e;
$secondary-color:#1a242f;
$font-primary:#FFFFFF;
$font-secondary:#1976D2;
$back-color:#0f172b;